<div class="app-bar fixed-top alacran" data-role="appbar">
        <a href="/" class="app-bar-element branding"><span class="icn-alacran icn-2x"></span></a>

        <ul class="app-bar-menu">
            <li>
                <a href="#">Build 9052020</a>
            </li>
        </ul>
        <ul class="app-bar-menu place-right" style="margin-right: 10px;">
            <div class="input-control text" style="float: left;">
                <span class="icn-search prepend-icon"></span>
                <input type="text">
            </div>
            <li>
                <a onclick="toggleMetroCharm('#docs-charm')"><span class="icn-menu icn-2x"></span></a>
            </li>
        </ul>

        <span class="app-bar-pull"></span>

</div>